{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <h2>Sign Up</h2>
        <table>
            {% for field in form %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                    <td>
                        {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li style="color: red">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3">
                    <input type="submit" value="Register" />
                </td>
            </tr>
        </table>
    </form>
{% endblock content%}